body, html, #root, .App {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body div::-webkit-scrollbar {
  display: none;
}

.App {
  position: absolute;
  background: rgb(235, 254, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}